--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision==0.15.0
omegaconf
hydra-core
hydra-submitit-launcher
torchmetrics
fvcore
iopath
xformers
datasets
aiohttp
--extra-index-url https://pypi.nvidia.com
cuml-cu11
